@use '@scssVariables' as v;

.newLife {
    width: 90%; 
    margin: auto; 
    

    &_button{
        margin-top: 10px; 
        width: 150px; 
        height: 55px; 
        border: 2px solid white; 
        text-align:center; 
        border-radius: 10px; 
        background-color: v.$dark-color; 
        margin-bottom: 2rem; 

    }

    &_text {
        padding-top: 10px; 
    }

}

.expPro {
    display: flex; 
    
}; 

.column1 {
    width: 80%; 
    margin: 4rem; 
}

.column2 {
    width: 80%; 
    margin: 4rem; 
}

.years {
 color: v.$light-color; 
 font-size: 1.5rem; 
 
}

.expPro_ul {
    margin-bottom: 2rem;
    list-style-type: disc; 
}

.expPro_h2 {
    width: 70%; 
    font-size: 1.7rem; 
    text-decoration: underline; 
}

.false {
    display: none; 
}