@use '@scssVariables' as v;



@media screen and (max-width: 1000px) {

    
.app {
    
    background-color: black; 
    color: white; 
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
}

.center {
    padding-top: 0.8rem; 
    height: 100%;  
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.false {
    display: none; 
}
}


@media screen and (min-width:1001px) {
.app {
    
    background-color: black; 
    color: white; 
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
}

.center {
    padding-top: 0.8rem; 
    height: 100%;  
    display: flex; 
    justify-content:space-around;  
    align-items: flex-start;
}

.false {
    display: none; 
}
}