@media screen and (max-width: 600px) {
    .photo {
        padding-top: 2rem;
        width: 45%;  
    }
    
    p {
        margin-left: 3rem; 
    }
    
    .imgPhoto {
        display: block; 
        width: 96%; 
        margin: auto; 
        padding-bottom: 3rem; 
    }
}

@media screen and (min-width:601px) and (max-width: 999px) {

    .photo {
        padding-top: 2rem;
        width: 30%;  
    }
    
    p {
        margin-left: 3rem; 
    }
    
    .imgPhoto {
        display: block; 
        width: 96%; 
        margin: auto; 
        padding-bottom: 3rem; 
    }

}


@media screen and (min-width: 1000px) {

.photo {
    padding-top: 2rem;
    width: 20%;  
    margin: 0 auto; 
}

p {
    margin-left: 3rem; 
}

.imgPhoto {
    display: block; 
    width: 86%; 
    margin: auto; 
    padding-bottom: 3rem; 
}
}